h1{
    text-align: center;
    font-family: 'Cherry Bomb', cursive;
    font-size: 6vw;
    text-shadow: 2px 0 0 #ffffff, 2px 2px 0 #ffffff, 0 2px 0 #ffffff, -2px 2px 0 #ffffff, -2px 0 0 #ffffff,
    -2px -2px 0 #ffffff, 0 -2px 0 #ffffff, 2px -2px 0 #ffffff;
}
#potato{
    position: absolute;
    top:2vw;
    left:29vw;
    width: 10vw;
    z-index: -1;
    transform: rotate(-20deg);
}
#machine{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slot{
    width: 20vw;
    height: 20vw;
    border: 2px solid #000;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    background-color: #fff78a;
}
#buttonResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#playButton{
    background-color: #e5b122;
    border: 2px solid #7d5c19;
    width: 100px;
    height: 60px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}
#playButton:hover{
    cursor: pointer;
    outline: none;
}
.imgSlot{
    width: 17vw;
}
#score{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7d5c19;
    background-color: #ffe553;
    width: 150px;
    height: 75px;
    font-weight: bold;
}
#resultGame{
    margin-top: 1vw;
    font-size: 30px;
}
#information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h2{
    margin-left: 2vw;
}
#resetButton{
    background-color: #e54f2f;
    border: 2px solid #ffe553;
    color: #fff;
    width: 70px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}
